@mixin header{
  font-weight: bold;
}

.data__rows{
  border:solid 2px #A6A9AA;
}

.dimensions__table__data{
  table-layout:fixed;
  width:98%;
}

td {
    padding:1vw;
}

.dimensions__image--size{
  width:170%;
  padding-top: 3vh;
}

.data__header{
  @include header;
}

.data__rows--header{
  background-color: #E5E8E8;
  border-right: solid 2px #A6A9AA;
}

 .data__rows--data{
   border-right: solid 2px #A6A9AA;
 }
