@import "../../variables.scss";

.data__rows{
  border:solid 2px $mid-grey;
  font-size: 95%
}

.dimensions__table__data{
  table-layout:fixed;
  width:98%;
}

td {
    padding:1vw;
}

.dimensions__image--size{
  width:170%;
  padding-top: 3vh;
}

/*correct image size for narrow screen*/
@media only screen and (max-width: $phone) {
  .dimensions__image--size{
    width:$narrow-width-phone;
    padding-top: 3vh;
  }
}

.data__header{
  font-weight: bold;
}

.data__rows--header{
  background-color: $light-grey;
  border-right: solid 2px $mid-grey;
}

 .data__rows--data{
   border-right: solid 2px $mid-grey;
 }
