<div class="dimensions" fxLayout="row" fxFill>
  <div class="dimensions__table" fxFlex="50">
    <table class="dimensions__table__data">
      <tr class="data__header">
        <td></td>
        <td>Short</td>
        <td>Long</td>
      </tr>
      <tr class="data__rows">
        <td class="data__rows--header">Entry Height</td>
        <td class="data__rows--data">1,373mm</td>
        <td>1,373mm</td>
      </tr>
      <tr class="data__rows">
        <td class="data__rows--header">Ramp Height</td>
        <td class="data__rows--data">1,010mm</td>
        <td>1,010mm</td>
      </tr>
      <tr class="data__rows">
        <td class="data__rows--header" >Ramp Width</td>
        <td class="data__rows--data">755mm</td>
        <td>755mm</td>
      </tr>
      <tr class="data__rows">
        <td class="data__rows--header" >Channel Length</td>
        <td class="data__rows--data">1,580mm</td>
        <td>1,580mm</td>
      </tr>
      <tr class="data__rows">
        <td class="data__rows--header">External Height</td>
        <td class="data__rows--data">1,852mm</td>
        <td>1,845mm</td>
      </tr>
      <tr class="data__rows">
        <td class="data__rows--header">External Length</td>
        <td class="data__rows--data">4,418mm</td>
        <td>4,818mm</td>
      </tr>
    </table>
  </div>
  <div class="dimensions__image" fxFlex="30">
    <img src="assets/images/Versa_Dimensions.jpg" class="dimensions__image--size">
  </div>
