<div class="header" fxLayout="row" fxFill>
  <div class="header__logo" fxFlex="24">
    <img class="header__logo--size" src="assets/images/Vertu_Logo.png">
  </div>

  <div class="header__right" fxLayout="column">
    <div class="header__top">
      <div class="header" fxLayout="row" fxFill>
        <div class="top__contrast" fxFlex="44">
          Contrast&nbsp;<span class="boxedicon contrast--high">A</span> <span class="boxedicon">A</span>
        </div>
        <div class="top__fontsize" fxFlex="12">
          Font Size<span class="boxedicon">A-</span><span class="boxedicon">A</span><span class="boxedicon">A+</span>
        </div>
        <div class="top__download" fxFlex="18">
          <a href="#">Download a Brochure</a>
        </div>
        <div class="top__blog" fxFlex="4">
          Blog
        </div>
        <div class="top__contact" fxFlex="20">
          <fa-icon [icon]="faPhone" flip="horizontal"></fa-icon>
          &nbsp;Contact us on 0300 042 5909&nbsp;
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header" fxLayout="row" fxFill>
          <div class="bottom__newvehicles" fxFlex="25">
            <a href="#">New Vehicles</a>
          </div>
          <div class="bottom__usedvehicles" fxFlex="25">
            <a href="#">Nearly New/Used Vehicles</a>
          </div>
          <div class="bottom__motability" fxFlex="25">
            <a href="#">Motability</a>
          </div>
          <div class="bottom__aftercare" fxFlex="25">
            <a href="#">Aftercare</a>
          </div>
          <div class="bottom__contactus" fxFlex="25">
            <a href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
