@import "../../variables.scss";

div{
  color:black;
  font-family: "Roboto";
}

.header{

}

.header__logo{
  height: 14vh;
  padding-top: 2vh;
  padding-left: 3vw;
}

.header__top{
  height:5vh;

  line-height: 5vh;
  text-align: center;
  font-size: 70%;
}

.header__bottom{
  height: 9vh;
  line-height: 9vh;

  font-size: 100%;
  text-align: center;
}

@media only screen and (max-width: $phone) {
  .header__bottom{
    height: 4vh;
    line-height: 4vh;
    font-size: 70%
  }

  .header__top{
    height: 13vh;
  }

  .header__right{
    width:76vw;
  }
}
.header__bottom a{
  color: black;
}

.header__logo--size {
  width:20vw;
}

.top__contact{
  background-color: $green;
  color:white;
  padding-left:1vw;
  @media only screen and (max-width: $phone){
    text-align: right;
    padding-right: 1vw;
    line-height: 3vh;
    width:40vw;
    margin-left: 36vw;
  }
}

.top__contrast{
  text-align: right;
  padding-right: 1vw;
}

.top__download a{
  color: black;
}

.top__download{
    @media only screen and (max-width: $phone){
      text-align: right;
      padding-right: 1vw;
    }
}

.top__fontsize{
  text-align: right;
  @media only screen and (max-width: $phone){
    padding-right: 1vw;
  }
}

.top__blog{
  text-align: center;
  @media only screen and (max-width: $phone){
    text-align: right;
    padding-right: 1vw;
  }
}

.boxedicon{
  border: solid 1px $mid-grey;
  margin-left: 2px;
  padding-left: 3px;
  padding-right: 3px;
  color:$dark-blue;
}

.contrast--high{
  background-color: #000000;
  color:yellow;
}
