@import "../../variables.scss";

div{
  color:black;
  font-family: "Roboto";
}

.header__logo{
  @media only screen and (min-width: $phone) {
    height: 14vh;
    padding-top: 2vh;
    padding-left: 3vw;
  }

  @media only screen and (max-width: $phone){
    position: absolute;

  }
}

.header__logo--size {
  @media only screen and (min-width: $phone){
    width:20vw;
  }
}

.header__top{
  height:5vh;
  line-height: 5vh;
  text-align: center;
  font-size: 70%;
}

.header__bottom{
  height: 9vh;
  line-height: 9vh;
  font-size: 100%;
  text-align: center;
}

@media only screen and (max-width: $phone) {
  .header__bottom{
    height: 60px;
    line-height: 18px;
    font-size: 70%
  }

  .header__top{
    padding-top: 1px;
    height: 120px;
  }

  .header__right{
    width:100vw;
  }

  .header__logo--size {
    height: 60px;
  }

}
.header__bottom a{
  color: black;
}


.top__contact{
  background-color: $green;
  color:white;
  @media only screen and (max-width: $phone){
    text-align: center;
    line-height: 20px;
    width:100vw;
  }
}

.top__contrast{
  text-align: right;
  padding-right: 1vw;
}

.top__download a{
  color: black;
}

.top__download{
    @media only screen and (max-width: $phone){
      text-align: right;
      padding-right: 1vw;
    }
}

.top__fontsize{
  text-align: right;
  @media only screen and (max-width: $phone){
    padding-right: 1vw;
  }
}

.top__blog{
  text-align: center;
  @media only screen and (max-width: $phone){
    text-align: right;
    padding-right: 1vw;
  }
}

.boxedicon{
  border: solid 1px $mid-grey;
  margin-left: 2px;
  padding-left: 3px;
  padding-right: 3px;
  color:$dark-blue;
}

.contrast--high{
  background-color: #000000;
  color:yellow;
}
