<div class="header" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFill>
  <div class="header__logo" fxFlex.gt-sm="24" fxFlex.lt-md="10vh">
    <img class="header__logo--size" src="assets/images/Vertu_Logo.png">
  </div>

  <div class="header__right" fxLayout="column">
    <div class="header__top">
      <div class="header" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFill>
        <div class="top__contrast" fxFlex.gt-sm="33.3vw" fxFlex.lt-md="20px">
          Contrast&nbsp;<span class="boxedicon contrast--high">A</span> <span class="boxedicon">A</span>
        </div>
        <div class="top__fontsize" fxFlex.gt-sm="10vw" fxFlex.lt-md="20px">
          Font Size<span class="boxedicon">A-</span><span class="boxedicon">A</span><span class="boxedicon">A+</span>
        </div>
        <div class="top__download" fxFlex.gt-sm="13.5vw"  fxFlex.lt-md="20px">
          <a href="#">Download a Brochure</a>
        </div>
        <div class="top__blog" fxFlex.gt-sm="3vw" fxFlex.lt-md="32px">
          Blog
        </div>
        <div class="top__contact" fxFlex.gt-sm="17.2vw" fxFlex.lt-md="20px">
          <fa-icon [icon]="faPhone" flip="horizontal"></fa-icon>
          &nbsp;Contact us on 0300 042 5909&nbsp;
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header" fxLayout="row" fxFill>
        <div class="bottom__newvehicles" fxFlex.gt-sm="15vw" fxFlex.lt-md="20vw">
          <a href="#">New Vehicles</a>
        </div>
        <div class="bottom__usedvehicles" fxFlex.gt-sm="15vw" fxFlex.lt-md="26vw">
          <a href="#">Nearly New/Used Vehicles</a>
        </div>
        <div class="bottom__motability" fxFlex.gt-sm="15vw" fxFlex.lt-md="18vw">
          <a href="#">Motability</a>
        </div>
        <div class="bottom__aftercare" fxFlex.gt-sm="15vw" fxFlex.lt-md="18vw">
          <a href="#">Aftercare</a>
        </div>
        <div class="bottom__contactus" fxFlex.gt-sm="15vw" fxFlex.lt-md="19vw">
          <a href="#">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
