@import "../../variables.scss";

.wrapper{
  background-color: $dark-grey;
  color:white;
  font-family: "Roboto";
  padding-top: 6vh;
  padding-bottom: 3vh;
}

.footer__left{
  margin-left: $narrow-margin-left;
}

.footer__left__text{
  font-size: 80%;
  color: $mid-grey;
}

.footer__right{
  padding-left: 15vw;
}
.footer__right a{
  color: white;
}

.footer__logo--size {
  width:16vw;
  filter: grayscale(100%) brightness(1000%);
}

.footer__right__row2{
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.footer__bottom{
  padding-top: 3vh;
  margin-left: $narrow-margin-left;
  margin-right: $narrow-margin-right;
  font-size: 70%;
  color: $mid-dark-grey;
}
