<div class="footer" fxLayout="row" fxFill>
  <div class="footer__left" fxLayout="column" fxFlex="30vw">
    <div class="footer__left__logo">
      <img class="footer__logo--size" src="assets/images/Vertu_Logo.png">
    </div>
    <div class="footer__left__text">
      <p>If you're looking for a new or used Wheelchair Accessible Vehicle (WAV), Then Bristol Street Versa is the best place to start.</p>
    </div>
  </div>
  <div class="footer__right" fxLayout="column">
    <div class="footer__right__row1" fxLayout="row">
      <div class="home" fxFlex="15vw"><a href="#">Home</a></div>
      <div class="newused" fxFlex="15vw"><a href="#">Nearly New & Used</a></div>
      <div class="terms" fxFlex="15vw"><a href="#">Terms</a></div>
    </div>
    <div class="footer__right__row2" fxLayout="row">
      <div class="new" fxFlex="15vw"><a href="#">New Vehicles</a></div>
      <div class="aftercare" fxFlex="15vw"><a href="#">Aftercare</a></div>
      <div class="blog" fxFlex="15vw"><a href="#">Blog</a></div>
    </div>
    <div class="footer__right__row3" fxLayout="row">
      <div class="motability" fxFlex="15vw"><a href="#">Motability</a></div>
      <div class="contact" fxFlex="15vw"><a href="#">Contact Us</a></div>
    </div>
  </div>
</div>
