@import "../../variables.scss";

.wrapper{
  background-color: $dark-grey;
  color:white;
  font-family: "Roboto";
  padding-top: 6vh;
  padding-bottom: 3vh;
}

.footer__bottom{
  padding-top: 3vh;
  margin-left: $narrow-margin-left;
  margin-right: $narrow-margin-right;
  font-size: 70%;
  color: $mid-dark-grey;
}

@media only screen and (min-width: $phone) {
  .footer__right{
    padding-left: 15vw;
  }

  .footer__left{
    margin-left: $narrow-margin-left;
  }

}

@media only screen and (max-width: $phone) {
  .wrapper{
    padding-top: 2vh;
  }

  .footer__left{
    margin-left: $narrow-margin-left-phone;
  }

  .footer__left__text{
    margin-left: 5vw;
    margin-right: $narrow-margin-right-phone;

  }

  .footer__right{
    padding-top: 2vh;
    padding-left: $narrow-margin-left-phone;
  }

  .footer__bottom{
    margin-left: $narrow-margin-left-phone;
    margin-right: $narrow-margin-right-phone;
    text-align: center;
  }
}

.footer__left__text{
  font-size: 80%;
  color: $mid-grey;
}

.footer__right a{
  color: white;
}

.footer__logo--size {
  width:16vw;
  filter: grayscale(100%) brightness(1000%);
}

.footer__right__row2{
  padding-top: 1vh;
  padding-bottom: 1vh;
}
