<div class="billboard billboard--bottom">
  <div class="callout">
    <div class="callout__text">
      <p class="callout__text-head">Keeping you going</p>
      <p class="callout__text-body">At Bristol Street Versa our priority is to offer so much more than just the sale of a Wheelchair Accessible Vehicle (WAV). We recognise that the lives of the majority of our customers aren't always plain sailing - and that's why we are committed to step in to make sure we are #KeepingYouGoing.</p>
      <div class="lightbluebutton lightbluebutton--callout">More Information</div><br/>
    </div>
  </div>
</div>
