@import "../../variables.scss";

/*common parameters for the button*/
.lightbluebutton--body{
  background-color: $light-blue;
  text-align: center;
  color: white;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/*override (IMPORTANT) passed values for narrow screen*/
@media only screen and (max-width: $phone) {
  .lightbluebutton--body{
    width: 80vw !important;
    height: 6vh !important;
    line-height: 6vh !important;
  }
}
