<div class="layouts">
  <div class="layouts_swb">
    <p class="layouts__swb__description">Short (based on Ford Tourneo Connect)</p>
    <img class="layouts__swb__image" src="assets/images/Versa_Layout_SWB.jpg">
  </div>
  <br/>
  <div class="layouts_lwb">
    <p class="layous__lwb__descirption">Long (based on Ford Tourneo Grand Connect)</p>
    <img class="layouts__lwb__image" src="assets/images/Versa_Layout_LWB.jpg">
  </div>
  <div class="layouts__footnote">
    <p class="layouts__footnote____description">* Wheelchair user can sit a little further forward (not as forward as Row 2 seats)</p>
  </div>
</div>
