<div class="wrapper">
  <div class="contact">
    <h2 class="contact__header">Interested in this vehicle?</h2>
    <p class="contact__text">Are you interested in the Ford Tourneo? Simply fill in the form below and we will be in touch.
    </p>
    <div class="contact__form">
      <input type="text" class="contact__form__text" placeholder="Name">
      <input type="text" class="contact__form__text" placeholder="Number">
      <input type="submit" class="contact__form__button" value="Go">
    </div>
  </div>
</div>
