<div fxLayout="row" fxFill>
  <nav class="navbar navbar-expand-lg navbar--left" fxFlex="20">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Versa Connect
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar--right">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Factory Fit Options</a>
        </li>
      </ul>

  </nav>
</div>
