<div class="wrapper">
  <div class="layouts" fxLayout="column" fxFill>
    <div class="layouts__main" fxFlex="80">
      <img class="layouts__main__top" src="assets/images/Versa_Interior_1.jpg">
    </div>
    <div class="layouts__detail" fxLayout="row" fxLayoutGap="3.5vw">
      <div class="layouts__main" fxFlex="30">
        <img class="layouts__detail__left" src="assets/images/Versa_Interior_Seat_Biege.jpg">
      </div>
      <div class="layouts__main" fxFlex="30">
        <img class="layouts__detail__mid" src="assets/images/Versa_Interior_Seat_Grey.jpg">
      </div>
      <div class="layouts__main" fxFlex="30">
        <img class="layouts__detail__right" src="assets/images/Versa_Interior_Seat_Black.jpg">
      </div>
    </div>
    <div class="layouts__detail_text" fxLayout="row" fxLayoutGap="3.5vw">
      <div class="layouts__main" fxFlex="30">
        <div class="layouts__detail__text__left--bold">
          Titanium
        </div>
        <div class="layouts__detail__text__left" fxLayout="row">
          <div class="layouts__main" fxFlex="95">
            Insert: Chicane in Medium Stone<br/>
            Bolster: Malt in Medium Stone
          </div>
          <div class="layouts__main" fxFlex="5">
            <label class="container">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="layouts__main" fxFlex="30">
        <div class="layouts__detail__text__mid--bold">
          Zetec
        </div>
        <div class="layouts__detail__text__mid" fxLayout="row">
          <div class="layouts__main" fxFlex="95">
            Insert: Route in Charcoal Black<br/>
            Bolster: Max in Charcoal Black
          </div>
          <div class="layouts__main" fxFlex="5">
            <label class="container">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="layouts__main" fxFlex="30">
        <div class="layouts__detail__text__right--bold">
          Titanium
        </div>
        <div class="layouts__detail__text__mid" fxLayout="row">
          <div class="layouts__main" fxFlex="95">
            Insert: Chicane in Charcoal Black<br/>
            Bolster: Malt in Charcoal Black
          </div>
          <div class="layouts__main" fxFlex="5">
            <label class="container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
