<div class="wrapper">
  <div class="wrapper--small">
    <div class="versa-text__info">
      <p>The Versa Connect takes these attributes and focuses on extending them seamlessly into the wheelchair accessible aspects of our vehicle. It is our aim to produce a conversion that is both practical and stylish, with an attention to detail that provides the same high quality look and feel throughout the vehicle.</p>
      <p> The Versa Connect is available in two wheelbases. The Short Versa Connect can accomodate the wheelchair user and up to 3 seated passengers (including the driver) or up to 5 seated passengers without the wheelchair. The Long Versa Connect can accomodate the wheelchair and up to 5 seated passengers (including the driver) or up to 7 seated passengers without the wheelchair.</p>
      <p>Twin sliding doors allow for ease of passenger access with a lightweight manual ramp to the rear for wheelchair access. As an optional extra, the ramp can have the added ability, using a simple lever, to fold flat into the vehicle so that when the whieelchair user is not travelling, a huge ab easily accessible boot space is created making the Versa Connect even more practical.</p>
    </div>
    <app-offers-button [text]="text" [width]="width" [height]=height [margintop]=margintop></app-offers-button>
  </div>
</div>
