@import "../../variables.scss";

.wrapper{
  background-color: $light-grey;
  padding-bottom: 12vh;
}

.wrapper--small {
  width:$narrow-width;
  margin-left: $narrow-margin-left;
  padding-top:  6vh;
  color:black;
  font-family: "Roboto";
  font-size: 100%;
}

@media only screen and (max-width: $phone) {
  .wrapper--small{
    width: $narrow-width-phone;
    margin-left: $narrow-margin-left-phone;
  }
}
