@import "../../variables.scss";

.wrapper{
  background-color: $light-grey;
  padding-bottom: 12vh;
}

.wrapper--small {
  width:80vw;
  margin-left: 10vw;
  padding-top:  6vh;
  color:black;
  font-family: "Roboto";
  font-size: 100%;
}
