@import "../../variables.scss";

div{
  color:black;
  font-family: "Roboto";
}

    .billboard{
      left:0;
      width:100vw;
      height:74vh;
      background-size: cover;
      position: relative;
      background-image: url("Billboard_Main.jpg");
    }

    .callout{
        display:block;
        padding-bottom: 9vh;
      }

    @media only screen and (min-width: $phone) {
      .callout{
        width:$callout-width;
        background-color: $callout-background-color;
        color: $callout-color;
        position: absolute;
        top: $callout-top;
        left: $callout-left;
        transform: translate($callout-x,$callout-y);
      }
    }

    @media only screen and (max-width: $phone) {
      .callout{
        background-color: $callout-background-color;
        color: $callout-color;
        width:$callout-width-phone;
        margin-left:0;
        position: relative;
      }

      .billboard{
        width:100vw;
        height:50vh;
      }
    }


    p{
      margin: 15px;
    }

    .callout__text{
      padding-left: 2vw;
      padding-right: 2vw;
      margin-top: 2vw;
    }

    .callout__text-head{
      font-size: 200%;
      font-weight: bold;
    }

    .callout__text-body{
      font-size: 100%;
      font-weight: lighter;
    }
