<div class="billboard billboard--main">
  <div class="callout">
    <div class="callout__text">
      <p class="callout__text-head">Versa Connect</p>
      <p class="callout__text-body">"The Ford Tourneo Connect is a relaxing and comfortable place to be. Great to drive, great to sit in, it boasts premium finishes, high quality materials and fuel efficiency without compromising everyday practicality."</p>
      <div class="lightbluebutton lightbluebutton--callout">Make an Enquiry</div><br/>
    </div>
  </div>
</div>
