@import "../../variables.scss";

@mixin detailborders{
  margin-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  height:5vh;
  line-height: 5vh;
  border: solid 1px $dark-blue;
  color: $dark-blue;
  margin-bottom: 2vh;

  &:hover{cursor: pointer;}
}

@mixin active{
  background-color: $dark-blue;
  color:white;
  outline: none;
}

.wrapper {
  width:$narrow-width;
  margin-left: $narrow-margin-left;
  color:black;
  font-family: "Roboto";
  font-size: 100%;
}


.detail__dimensions{
  @include detailborders;
}

.detail__trims{
  @include detailborders;
}

.detail__colours{
  @include detailborders;
}

.detail__layouts{
  @include detailborders;
}

.detail__dimensions--active {
  @include active;
}

.detail__layouts--active {
  @include active;
}

.detail__colours--active {
  @include active;
}

.detail__trims--active {
  @include active;
}
