@import "../../variables.scss";

/*set up page for full width device*/
.wrapper {
  width:$narrow-width;
  margin-left: $narrow-margin-left;
  color:black;
  font-family: "Roboto";
  font-size: 100%;
}

/*set up page for narrow width device*/
@media only screen and (max-width: $phone) {
  .wrapper {
    width:$narrow-width-phone;
    margin-left: $narrow-margin-left-phone;
    font-size: 2vw;
  }
}

/*4 "buttons" to nagivate detail section*/
.detail__dimensions, .detail__trims,.detail__colours, .detail__layouts{
  margin-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  height:5vh;
  line-height: 5vh;
  border: solid 1px $dark-blue;
  color: $dark-blue;
  margin-bottom: 2vh;

  &:hover{cursor: pointer;} /*change mousepointer to highlight this is clickable*/
}

/*change clicked button to dark blue*/
.detail__dimensions--active, .detail__layouts--active, .detail__colours--active, .detail__trims--active {
  background-color: $dark-blue;
  color:white;
  outline: none;
}
