<div class="wrapper">
    <div class="detail" fxLayout="row" fxFill>
      <nav routerLink="/dimensions" fxFlex="25" routerLinkActive="detail__dimensions--active" class="detail__dimensions">
          Dimensions
      </nav>
      <nav routerLink="/layouts" fxFlex="25" routerLinkActive="detail__layouts--active" class="detail__layouts">
          Vehicle Layouts
      </nav>
      <nav routerLink="/colours" fxFlex="25" routerLinkActive="detail__colours--active" class="detail__colours">
          Colour
      </nav>
      <nav routerLink="/trims" fxFlex="25" routerLinkActive="detail__trims--active" class="detail__trims">
          Interior Trim
      </nav>
    </div>


<router-outlet></router-outlet>

<app-offers-button [text]="text" [width]="width" [height]=height [margintop]=margintop></app-offers-button>
</div>
