@import "../../variables.scss";

@mixin swatch__type{
  text-align: center;
  padding-top: 1vh;
  border-bottom: solid 1px black;
  padding-right: 0vw;
  height:6vh;
  line-height: 4vh;
  font-size: 90%;

  @media only screen and (max-width: $phone) {
    font-size: 100%;
  }
}

@mixin dimensions{
  width: 60vw;
  margin-left: 15vw;

  @media only screen and (max-width: $phone) {
    margin-left: 10vw;
  }
}

.swatches{
  @include dimensions;
}

.types{
  @include dimensions;
}

.swatch{
  width:4vw;
  height:4vw;

  @media only screen and (max-width: $phone) {
    width:6vw;
    height:6vw;
  }

  margin-right: 2vw;
  border-radius: 50%;
  border-color: #FFFFFF;
  border-width: thick;
  border-style: solid;
  -webkit-border-radius: 50%;
  -webkit-border-color: #FFFFFF;
  -webkit-border-width: thick;
  -webkit-border-style: solid;
  text-align: center;
  line-height: 3.5vw;
  color: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);

  &:hover{cursor: pointer;}
}


.colours__car{
  width: 80vw;
}

@media only screen and (max-width: $phone) {
  .colours__car{
    width: 90vw;
    margin-left: -5vw;
  }
}

.types__nonmetallic{
  @include swatch__type;
  width: 16vw;

  @media only screen and (max-width: $phone){
    width: 22vw;
  }
}

.types__metallic{
  @include swatch__type;
  width:34vw;

  @media only screen and (max-width: $phone){
    width: 45vw;
  }

  margin-left:2vw;
  color: $mid-grey;
  border-color: $mid-grey;
}
